<link th:href="@{/css/edit-form/column-left-top.css}" media="all" rel="stylesheet" type="text/css" />
<div class="row">
    <div class="dropdown col col-md-7">
        <button class="btn btn-lg dropdown-toggle"  type="button" id="dropdownMenu2"
                th:text="#{edit-form-button-add-widget}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add Widget
        </button>
        <div class="dropdown-menu w-40"  id="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item btn-light btn-lg" data-toggle="modal" data-target="#fivestarModal"
                    th:text="#{main-page-button-new-fivestar-widget}" type="button">Five-Star
            </button>
            <button th:text="#{main-page-button-new-shortanswer-widget}" data-toggle="modal" data-target="#shortAnsModal"
                    class="dropdown-item btn-light btn-lg" type="button">Short-Answer
            </button>
            <button th:text ="#{main-page-button-new-HMD-widget}" class="dropdown-item btn-light btn-lg"
                    type="button">HMD-widget
            </button>
            <button th:text="#{main-page-button-new-scale-widget}" class="dropdown-item btn-light btn-lg"
                    type="button">Scale Widget
            </button>
        </div>
    </div>
    <button th:text="#{edit-form-button-publish-form}" class="btn btn-lg mr-3" id="publish-button" type="button" onclick="publishForm()" style="padding-right: 10px">
        Publish Form
    </button>
    <button th:text="#{edit-form-button-preview-form}" class="btn btn-lg" id="preview-button"
             type="button" onclick="viewForm()">
        <i class="far fa-eye"></i>
        Preview Form
    </button>
</div>
<script th:src="@{/js/fragments/edit-form/column-left-top.js}" type="text/javascript"></script>