<link th:href="@{/css/edit-form/widget-table.css}" media="all" rel="stylesheet" type="text/css" />
<div class="panel panel-primary"  xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="panel-heading">
        <h3 id="widget-table-heading" th:text="#{edit-form-widget-table-heading}" >List of Widgets</h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead id="widget-table-head">
            <tr>
                <th  th:text="#{edit-form-widget-table-column-1-heading}" width="20%">Name</th>
                <th  th:text="#{edit-form-widget-table-column-2-heading}" width="25%">Type</th>
                <th  th:text="#{edit-form-widget-table-column-3-heading}" width="15%">Type</th>
                <th width="40%"></th>
            </tr>
            </thead>
            <tbody id="widget-table-body">
                <th:block th:each="widget:${form.widgets}">
                    <tr>
                        <td  th:text="#{${widget.widgetName}}"></td>
                        <td  th:text="${widget.widgetType}"></td>
                        <td  th:text="${widget.widgetVersion}"></td>
                        <td>
                            <a type="button" class="btn btn-success" th:text="#{main-page-edit-button}"
                               th:data-widgetId="${widget.widgetId}" th:data-templateId="${widget.templateId}"
                               onclick="displayModalForThisId(this.getAttribute('data-widgetId'),this.getAttribute('data-templateId'));">Edit
                            </a>
                            <a type="button" class="btn btn-danger"  th:data-id="${widget.widgetId}"
                               th:text="#{main-page-delete-button}" onclick="deleteWidget(this.getAttribute('data-id'));">Delete
                            </a>
                            <a type="button" class="btn btn-primary" th:text="#{main-page-view-button}"
                               th:href="@{'/form/' + ${form.formId} + '/widget/' + ${widget.widgetId}}">View
                            </a>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>
</div>
<script th:src="@{/js/fragments/edit-form/widget-table.js}" type="text/javascript"></script>