<link th:href="@{/css/edit-form/navbar.css}" media="all" rel="stylesheet" type="text/css" />
<nav class="navbar navbar-dark bg-dark">
    <form class="form-inline">
        <button class="btn btn-outline-primary" type="button" onclick="redirectToHome()" th:text="#{main-page-button-home}">Home</button>
        <span id="edit-form-navbar" class="navbar-text" th:text="#{${form.formName}}">
        </span>
    </form>
</nav>
<script th:src="@{/js/fragments/edit-form/navbar.js}" type="text/javascript"></script>