<div class="panel panel-info" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="panel-heading" >
        <h3 id="form-table-panel-heading" th:text="#{main-page-form-table-heading}" >Forms</h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead class="form-table-head">
            <tr>
                <th th:text="#{main-page-form-table-column-1-heading}"  width="30%">Name</th>
                <th th:text="#{main-page-form-table-column-2-heading}"  width="30%">Version</th>
                <th width="40%"></th>
            </tr>
            </thead>
            <tbody class="form-table-body">
                <th:block th:each="form:${forms}">
                    <tr>
                        <td  th:text="#{${form.name}}"></td>
                        <td  th:text="${form.version}"></td>
                        <td>
                            <a  type="button" class="btn btn-info" th:text="#{main-page-formURL-copy}"
                               th:data-thing="${form.formId}" onclick="copyFormUrl(this.getAttribute('data-thing'));">
                                Copy URL
                            </a>
                            <a type="button" class="btn btn-success" th:text="#{main-page-edit-button}"
                               th:href="@{'/form/' + ${form.formId} + '/edit'}">Edit</a>
                            <a type="button" class="btn btn-danger" th:text="#{main-page-delete-button}"
                               th:href="@{'/form/' + ${form.formId} + '/delete'}">Delete</a>
                            <a type="button" class="btn btn-dark" th:text="#{main-page-view-button}"
                               th:href="@{'/form/' + ${form.formId} + '/preview'}">Preview</a>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>
</div>