<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/header::header"></div>
    <link th:href="@{/css/edit-form.css}" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-text" style="size: A5;height: max-content;font-size: xx-large;color: white" th:text="${form.name}">
        </span>
    </nav>
    <div id="side-a" class="side-a">
    <div class="row">
        <div class="dropdown col col-md-9">
            <button class="btn btn-warning btn-lg dropdown-toggle" style="font-size: large" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add Widget
            </button>
            <div class="dropdown-menu w-25"  aria-labelledby="dropdownMenu2">
                <button class="dropdown-item btn-light btn-lg" data-toggle="modal" data-target="#FiveStarModal" style="font-size: medium" type="button">Five-Star</button>
                <button class="dropdown-item btn-light btn-lg" style="font-size: medium" type="button">Short-Answer</button>
                <button class="dropdown-item btn-light btn-lg" style="font-size: medium" type="button">HMD-widget</button>
                <button class="dropdown-item btn-light btn-lg" style="font-size: medium" type="button">Scale Widget</button>
            </div>
        </div>
        <button class="btn btn-dark btn-lg" style="font-size: large;float: right" type="button" onclick="viewForm()">
            <i class="far fa-eye"></i>
            Preview Form
        </button>
    </div>


    <div th:insert="common/fivestar-modal.html"></div>
    <br>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 style="font-size: large;text-align: center">List of Widgets</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th style="font-size: large" width="30%">Name</th>
                    <th style="font-size: large" width="35%">Type</th>
                    <th width="35%"></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="widget:${form.widgets}">
                    <tr>
                        <td style="font-size:medium"  th:text="${widget.widgetName}"></td>
                        <td style="font-size:medium" th:text="${widget.widgetType}"></td>
                        <td><a type="button" class="btn btn-success" style="font-size: medium"
                               th:href="@{'/form/' + ${form.formId} + '/widget/' + ${widget.widgetId} + '/edit'}">Edit</a>
                            <a type="button" class="btn btn-danger" style="font-size: medium" th:data-thing="${widget.widgetId}"
                               onclick="deleteWidget(this.getAttribute('data-thing'));">Delete</a>
                            <a type="button" class="btn btn-primary" style="font-size: medium"
                               th:href="@{'/form/' + ${form.formId} + '/widget/' + ${widget.widgetId}}">View</a>
                        </td>

                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <div id="main" class="main  two-column">
        <h2 style="text-align: center;background: #aaaaaa;font-palette: light">Live Preview</h2>
    <hr class="style5" style="border-top: 3px double #8c8b8b">
        <div class="wrapper" style="text-align: center">
            <button type="button" class="btn btn-success btn-md" style="font-size:medium" onclick="CopyFormUrl()">Copy Url</button>
        </div>
    <br>
    <div class="container">
        <th:block th:each="widget:${form.widgets}">
            <iframe th:src="@{'http://localhost:8080/form/'+${form.formId} + '/widget/'+${widget.widgetId}}" width="100%"  frameBorder="0" style="background: #dddddd"></iframe>
        </th:block>
    </div>
    </div>
</div>
<script th:inline="javascript" >
    let formid = [[${form.formId}]];

</script>
<script type="text/javascript" th:src="@{/js/edit-form.js}"></script>
</body>
</html>