<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous"></link>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>RATING SYSTEM</title>
    <script src="https://kit.fontawesome.com/7aad6ee3dd.js" crossorigin="anonymous"></script>


</head>
<body>

<div class = "rating-box" >
    <h2>RATING SYSTEM</h2>
    <h3>how was your experience ?</h3>
    <div class="ratings" id="stars">
        <i class="fa fa-star" ></i>
        <i class="fa fa-star" ></i>
        <i class="fa fa-star" ></i>
        <i class="fa fa-star" ></i>
        <i class="fa fa-star" ></i>
    </div>
    <button type="button" class="btn btn-success" id="submit-button" >SUBMIT</button>
    <h3 id="display-text" style="visibility: hidden">Your Response has been recorded</h3>
    <script>
        let no_of_stars = 0;
        stars = document.querySelector(".ratings").children;
        for (let i=0;i<stars.length;i++){
            stars[i].addEventListener("click",function(){
                no_of_stars = i+1;
                console.log("clicked-star")
                let j=0;
                for(j=0;j<=i;j++){
                    stars[j].style.color = "red";
                }
                for(let j=i+1;j<stars.length;j++){
                    stars[j].style.color = "black";
                }
            })
        }
        button = document.getElementById('submit-button');
        button.addEventListener('click', async _ => {
            try {
                const response = await fetch('http://localhost:8080/post', {
                    headers:{'content-type' : 'application/json'},
                    method: 'post',
                    body: JSON.stringify({
                        'userId':"user_2",
                        'response': no_of_stars.toString()
                    })
                });
                console.log('Completed!', response);
                document.getElementById('display-text').style.visibility = "visible";
                button.style.visibility = "hidden";
            } catch(err) {
                console.error(`Error: ${err}`);
            }

        });
    </script>
</div>

</body>
</html>