<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/header.html"></div>
    <link th:href="@{/css/main-page.css}" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="wrapper" class="wrapper">
        <div id="container" class="container-fluid">
            <div th:replace="fragments/main-page/main-page-navbar.html"></div>
            <div th:replace="fragments/main-page/main-page-column-left.html"></div>
            <div th:replace="fragments/main-page/main-page-column-right.html"></div>
            <br>
            <div th:replace="common/language-change.html"></div>
        </div>

        <div th:insert="common/create-form-modal.html"></div>
        <div th:insert="single-widget-modals/fivestar-modal.html"></div>
        <div th:insert="single-widget-modals/fivestar-edit-modal.html"></div>
        <div th:insert="single-widget-modals/shortAns-modal.html"></div>
        <div th:insert="single-widget-modals/shortAns-edit-modal.html"></div>

    </div>
</body>
<script th:inline="javascript">
    var SingleWidgetIdToBeEdited;
</script>
</html>