<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/header::header"></div>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-dark bg-danger">
        <span class="navbar-text" style="size: A5;height: max-content;font-size: xx-large;color: black">
            Create Forms
        </span>
    </nav>
    <div>
        <button type="button" class="btn btn-warning btn-lg" style="font-size: large" data-toggle = "modal" data-target="#ModalCenter">Create New Form</button>
        <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">Create Form</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="myForm" onsubmit="return CreateForm()">
                            <div class="form-group">
                                <label for="message-text" style="font-size: small">Form Name</label>
                                <input type="text" class="form-control"  required pattern="\S(.*\S)?" title="Form Name"
                                    placeholder="..form heading.." id="message-text">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal" style="font-size: small">Cancel</button>
                                <input type="submit" class="btn btn-success" style="font-size: small" value="Submit">
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 style="font-size: large">List Of Forms</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th style="font-size: large" width="40%">Name</th>
                    <th style="font-size: large" width="30%">Version</th>
                    <th width="30%"></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="form:${forms}">
                    <tr>
                        <td style="font-size:medium"  th:text="${form.name}"></td>
                        <td style="font-size:medium" th:text="${form.version}"></td>
                        <td><a type="button" class="btn btn-success" style="font-size: medium"
                             th:href="@{/update-form(id=${form.formId})}">Update</a>
                            <a type="button" class="btn btn-danger" style="font-size: medium"
                               th:href="@{/delete-form(id=${form.formId})}">Delete</a>
                            <a type="button" class="btn btn-primary" style="font-size: medium"
                               th:href="@{/view-form(id=${form.formId})}">View</a>
                        </td>

                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>

    function CreateForm() {
        let obj;
        let name = $('#message-text').val();
            let url = "http://localhost:8080/form?name=" + name;
            console.log(url);
            fetch(url,{method:'POST'}).
            then(results=>results.json()).
            then(data => obj=data).
            then(()=>console.log(obj)).then(()=>window.location.href = "http://localhost:8080/update-form?id="+obj["formId"]);
        document.getElementById("message-text").value = "";
            return false;
    }
</script>
</body>
</html>