<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/header.html"></div>
    <link th:href="@{/css/main-page.css}" media="all" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/Single-Widget-Modals/fivestar-modal.css}" media="all" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/common/create-form-modal.css}" media="all" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/main-page/navbar.css}" media="all" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/main-page/column-left.css}" media="all" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/main-page/form-table.css}" media="all" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/main-page/singleWidget-table.css}" media="all" rel="stylesheet" type="text/css" />
    <script th:src="@{/js/common/create-form-modal.js}" type="text/javascript"></script>
    <script th:src="@{/js/Single-Widget-Modals/fivestar-modal.js}" type="text/javascript"></script>
    <script th:src="@{/js/fragments/main-page/singleWidget-table.js}" type="text/javascript"></script>
    <script th:src="@{/js/fragments/main-page/form-table.js}" type="text/javascript"></script>

</head>
<body>
    <div id="wrapper" class="wrapper">

        <div id="container" class="container-fluid">
            <div th:replace="fragments/main-page/main-page-navbar.html"></div>
            <div th:replace="fragments/main-page/main-page-column-left.html"></div>
            <div th:replace="fragments/main-page/main-page-column-right.html"></div>
            <br>
            <div th:replace="common/language-change.html"></div>
        </div>

        <div th:insert="common/create-form-modal.html"></div>
        <div th:insert="Single-Widget-Modals/fivestar-modal.html"></div>

    </div>
</body>
<script th:inline="javascript"></script>
<script th:src="@{/js/common/language-change.js}" type="text/javascript"></script>
</html>