<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/header.html"></div>
    <link th:href="@{/css/view-Single-widget.css}" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="wrapper" class="wrapper">
        <div class="container">
            <div id="container-1" class="container">
                <br>
                <div th:replace="'single-widget-templates/'+${widget.templateId}::${widget.templateId}(${widget})"></div>
            </div>
            <br>
            <div id="lang-align-1">
                <div th:replace="common/language-change.html"></div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/js/common/language-change.js"></script>
</html>