<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/header.html"></div>
    <link th:href="@{/css/view-form.css}" media="all" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="wrapper" class="wrapper">
    <div id="container-top" class="container">
        <nav class="navbar navbar-dark bg-dark">
            <span class="navbar-text" id="form-name" th:text="#{${form.formName}}"></span>
        </nav>
        <br>
        <div id="container-2" class="container">

            <th:block th:each="widget : ${form.widgets}">
                <div th:id="${widget.widgetId}+'block'"
                     th:insert="'form-widget-templates/'+${widget.templateId}::${widget.templateId}(${widget})">
                </div>
                <br>
            </th:block>

            <span th:if="${preview eq 'no'}">
                <div id="wrapper2" class="wrapper">
                    <button id="submit-form" th:text="#{view-form-button-submit}" type="button"
                            class="btn btn-success btn-lg"
                            onclick="submitForm()">Submit
                    </button>
                </div>
            </span>
            <span class="asterik">&#x2731;</span>
            <label class="asterik-note" th:text="#{mandatory-label}"> Mandatory fields</label>
        </div>
        <br>
        <div id="lang">
            <div th:replace="common/language-change.html"></div>
        </div>
    </div>

</div>
</body>
<script th:inline="javascript">
    var formId = [[${form.formId}]];
    var alertMsg = [[#{single-widget-submit-alert}]];
    /*These variables are used while validating the forms Responses
    * && displaying the widget according to Rules*/
    var makeItMandatoryConstraint = {};
    var displayConstraint = {};
    var widgetList = [];

    [# th:each = "widget : ${form.widgets}" ]

        makeItMandatoryConstraintList = [];
        displayConstraintList = [];
        widgetList.push("[(${widget.widgetId})]");

        [# th:if = "${widget.constraints != null}" ]
             [# th:each = "Constraint : ${widget.constraints.makeItMandatoryConstraints}" ]
                  makeItMandatoryConstraintList.push("[(${Constraint.widgetId})]");
             [/]

             [# th:each = "Constraint : ${widget.constraints.displayConstraints}" ]
                 displayConstraintList.push("[(${Constraint.widgetId})]");
             [/]
        [/]

        if (makeItMandatoryConstraintList.length) {
            makeItMandatoryConstraint["[(${widget.widgetId})]"] = makeItMandatoryConstraintList;
        }
        if (displayConstraintList.length) {
            displayConstraint["[(${widget.widgetId})]"] = displayConstraintList;
        }
    [/]

</script>
<script type="text/javascript" src="/js/view-form.js"></script>
</html>